/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

/* Clearfix */
.clearfix::after{
    content: " ";
    display: block;
    clear: both;
}

#header_img{
    width: 100%;
    min-height: 503px;
    background-image: url(img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
}

.container {
    max-width: 1356px;
    min-height: 4096px;
    border: 1px solid black;
    margin: 0 auto;
    position: relative;
    top: 0;
}

header {
    width: 100%;
    min-height: 503px;
}

.row_1_header{
    width: 100%;
    padding: 5px
}

.header_logo{
    width: 113px;
    height: 40px;
    /* border: 1px solid red; */
    float: left;
}

.header_logo img{
    width: 100%;
    height: 100%;
}

.menu{
    width: calc(100% - 113px - 70px - 600px);
    min-height: 40px;
    /* border: 1px solid red; */
    float: left;
    margin: auto 300px;
    text-align: center;
    line-height: 40px;
}

.menu ul li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}

.menu ul li a{
    text-decoration: none;
    color: white;
}

.header_button{
    width: 70px;
    height: 40px;
    background-color: white;
    border-radius: 25px;
    float: left;
    line-height: 40px;
    text-align: center;
}

.header_button a{
    text-decoration: none;
    color: black;
    padding: 10px;
}

.row_2_header{
    width: 100%;
    min-height: 422px;
    position: relative;
}

.text_wrapper_header{
    max-width: 620px;
    min-height: 245px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text_wrapper_header h1{
    font-size: 40px;
    color: white;
}

.text_wrapper_header p{
    font-size: 18px;
    margin-top: 30px;
    color: white;
}

.button{
    height: 52px;
    border-radius: 25px;
    display: inline-block;
    margin-top: 25px;
    line-height: 52px;
}

.button.sx{
    background-color: white;
    width: 194px;
    margin-right: 20px;
}

.button.dx{
    background-color: black;
    width: 292px;
}

.button.sx a{
    text-decoration: none;
    color: black;
}

.button.dx a{
    text-decoration: none;
    color: white;
}

section.heigh_s{
    width: 100%;
    height: 688px;
    /* border: 3px solid yellowgreen; */
    position: relative;
}

.section_wrapper_text{
    width: 100%;
    min-height: 434px;
    /* border: 2px solid red; */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 30px;
}

.logo_section_1{
    width: 680px;
    height: 407px;
    /* border: 1px solid blue; */
    float: left;
}

.logo_section_1 img{
    width: 100%;
    height: 100%;
}

.text_logo_dx{
    width: 283px;
    height: 407px;
    /* border: 1px solid blue; */
    float: right;
}

.text_logo_dx h1{
    font-size: 40px;
}

.text_logo_dx p{
    margin-top: 25px;
}

section.heigh_l{
    width: 100%;
    height: 683px;
    /* border: 2px solid yellowgreen; */
    position: relative;
}

.text_logo_sx{
    width: 280px;
    min-height: 266px;
    /* border: 2px solid red; */
    float: left;
    margin-left: 50px;
}

.text_logo_sx h1{
    font-size: 40px;
}

.text_logo_sx p{
    margin-top: 25px;
}

.logo_section_2{
    width: 680px;
    height: 407px;
    /* border: 1px solid blue; */
    float: right;
}

.logo_section_1 img{
    width: 100%;
    height: 100%;
}

.heigh_xl{
    width: 100%;
    min-height: 1147px;
    /* border: 2px solid yellowgreen; */
}

.text_section_3{
    width: 750px;
    min-height: 130px;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 150px;
    text-align: center;
}

.text_section_3 h1{
    font-size: 40px;
}

.text_section_3 p{
    margin-top: 25px;
}

.logo_section_3{
    width: 915px;
    height: 481px;
    /* border: 1px solid red; */
    margin: 0 auto;
}

.text_section_3 img{
    width: 100%;
    height: 100%;
}

.text_under_logo{
    width: 530px;
    min-height: 165px;
    /* border: 1px solid red; */
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    background: url(img/stars.svg) left top;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 30px;
}

.text_under_logo h2{
    font-size: 30px;
}

.button_section_3{
    width: 194px;
    height: 52px;
    border-radius: 25px;
    margin-top: 25px;
    background-color: lightskyblue;
    line-height: 52px;
    margin:  0 auto;
    margin-top: 20px;
}

.button_section_3 a{
    text-decoration: none;
    color: white;
}